#board {
    width: 90%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#board img {
    width: 18%;
    height: 20%;
    border: 0.5px solid rgb(34, 102, 58);
}

    
#pieces {
    width: 100%; /* Use 100% width for better responsiveness */
    height: auto; /* Adjust height to be flexible based on content */
    /* border: 2px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the flex items horizontally */
    padding: 15px; /* Add some padding to the container */
    box-sizing: border-box; /* Include padding and border in the total width and height */
}

#pieces img {
    width: 17%;
    height: 19%;
    border: 0.5px solid;
    margin: 3px;
    border-radius: 15px;
}
