/* Font Log */
@font-face {
  font-family: "DMSans";
  src: url("../fonts/dmsans-variablefont_opszwght-webfont.woff2")
      format("woff2"),
    url("../fonts/dmsans-variablefont_opszwght-webfont.woff") format("woff");
  font-weight: 100 1000;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/lora-variablefont_wght-webfont.woff2") format("woff2"),
    url("../fonts/lora-variablefont_wght-webfont.woff") format("woff");
  font-weight: 100 1000;
  font-style: normal;
}
/* ~~~ */
/* Root Variables */
:root {
  /* Testing Variables */
  --testColor: rgb(255, 84, 84);
  --testColor2: rgb(82, 82, 255);
  --testSpacer: 0.25rem;
  /* Colors */
  --primary: #9acd32;
  --p30: #364e00;
  --p40: #466400;
  --p50: #5d8300;
  --p60: #719e00;
  --p70: #89bb1e;
  --p80: #a3d73c;
  --p90: #bef456;
  --p95: #d6ff89;
  --secondary: #ffd449;
  --s30: #574500;
  --s40: #735c00;
  --s50: #917400;
  --s60: #af8d00;
  --s70: #cea719;
  --s80: #ecc238;
  --s90: #ffe088;
  --s95: #ffefcc;
  --tertiary: #2cabb6;
  --t30: #004f55;
  --t40: #006970;
  --t50: #00848d;
  --t60: #00a0ab;
  --t70: #1fbdc9;
  --t80: #4dd9e5;
  --t90: #82f3ff;
  --t95: #c8faff;
  --dark: #2a2e2a;
  --n40: #4e4e4e;
  --n50: #7d7d7d;
  --n60: #a2a2a2;
  --n70: #c7bbaf;
  --n80: #dbcfc1;
  --n90: #f2e6d8;
  --light: #fff7ee;
  --white: #f5f5f5;
  --invis: rgb(rgba(0, 0, 0, 0));

  /* Fonts */
  /* All names for variables are coded based  */
  --DL: 4rem "Lora", "Times New Roman", Times, serif;
  --DM: 3.25rem "Lora", Arial, Helvetica, sans-serif;
  --DS: 2.75rem "Lora", Arial, Helvetica, sans-serif;

  --HL: 2.5rem "Lora", Arial, Helvetica, sans-serif;
  --HM: 2.25rem "Lora", Arial, Helvetica, sans-serif;
  --HS: 2rem "Lora", Arial, Helvetica, sans-serif;

  --TL: 1.75rem "Lora", Arial, Helvetica, sans-serif;
  --TM: 1.5rem "Lora", Arial, Helvetica, sans-serif;
  --TS: 1.25rem "Lora", Arial, Helvetica, sans-serif;

  --BL: 1.5rem "DMSans", Arial, Helvetica, sans-serif;
  --BM: 1.25rem "DMSans", Arial, Helvetica, sans-serif;
  --BS: 1rem "DMSans", Arial, Helvetica, sans-serif;
  --BSI: italic 1rem "DMSans", Arial, Helvetica, sans-serif;

  --LL: 1.25rem "DMSans", Arial, Helvetica, sans-serif;
  --LM: 1rem "DMSans", Arial, Helvetica, sans-serif;

  /* Shadows */
  --Depth1: 0px 0.54px 1.62px 0.54px rgba(0, 0, 0, 0.15),
    0px 0.54px 1.08px 0px rgba(0, 0, 0, 0.3);
  --Depth2: 0px 1.08px 3.24px 1.08px rgba(0, 0, 0, 0.15),
    0px 0.54px 1.08px 0px rgba(0, 0, 0, 0.3);
  --Depth3: 0px 0.54px 1.62px 0px rgba(0, 0, 0, 0.3),
    0px 2.16px 4.32px 1.62px rgba(0, 0, 0, 0.15);
  --Depth4: 0px 1.08px 1.62px 0px rgba(0, 0, 0, 0.3),
    0px 3.24px 5.399px 2.16px rgba(0, 0, 0, 0.15);
  --Depth5: 0px 2.16px 2.16px 0px rgba(0, 0, 0, 0.3),
    0px 4.32px 6.479px 3.24px rgba(0, 0, 0, 0.15);

  /* Sizing */
  --icon: 2rem;
  --iconSmall: 1.5rem;
  --iconTouchArea: 3rem;
  /* Spacing */
  --gutter: 2rem;
  /* Rounding */
  --BR: 12px;

  /* Header height: 160 px tall, overflow hidden */
  /* Icon size = 12px, touch box is 24? */
  /* Interactable icons: 48x48 */
  /* LOOK AT AUTO LAYOUT TO SEE THE SPACING */
  /* 2 Rem Gutter */
  /* font: italic small-caps bold 12px/30px Georgia, serif; */
}

/* ~~~ */
/* Initial Setup */
html {
  background-color: var(--light);
}
.bgImages {
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  width: 100%;
}
form {
  margin: 0;
  padding: 0;
}
body {
  /* background-image: url('../media/brick_bg.webp'); */
  width: 430px;
  height: 100vh;
  margin: 0 auto;
  border: solid rgb(168, 168, 168) 1px;
  position: relative;
  top: -1rem;
  display: flex;
  flex-direction: column;
}
div {
  /* border: solid 2px rgba(0, 0, 0, 0.141); */
  min-height: 1rem;
  min-width: 1rem;
  /* padding: var(--testSpacer); */
}
img {
  /* height: 100%; */
  overflow-x: hidden;
  /* border: solid 2px black; */
}
.backgroundBrick {
  z-index: -2;
  overflow: hidden;
  position: absolute;
  bottom: 1rem;
  border: none;
  margin: none;
  width: 100%;
  padding: none;
  margin: none;
  filter: opacity(30%);
}
.header_menu_vine {
  background-image: url(../media/vineImage.svg);
  background-repeat: repeat-y;
  height: 85vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 80px;
}
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: var(--dark);
}
a:visited {
  color: var(--dark);
}

h3 {
  padding: 0;
  margin: 0;
}

/* Shortcut Classes to apply Root Styles */
/* Testing Variables */
.testColor {
  background-color: var(--testColor);
}
.testColor2 {
  background-color: var(--testColor2);
}
.testSpacer {
  padding: var(--testSpacer);
}

/* Colors */
.primary {
  background-color: var(--primary);
}
.secondary {
  background-color: var(--secondary);
}
.tertiary {
  background-color: var(--tertiary);
}
.dark {
  background-color: var(--dark);
}
.light {
  background-color: var(--light);
}
.white {
  background-color: var(--white);
}

/* Fonts */
.DL {
  font: var(--DL);
}
.DM {
  font: var(--DM);
}
.DS {
  font: var(--DS);
}

.HL {
  font: var(--HL);
}
.HM {
  font: var(--HM);
}
.HS {
  font: var(--HS);
}

.TL {
  font: var(--TL);
}
.TM {
  font: var(--TM);
}
.TS {
  font: var(--TS);
}

.BL {
  font: var(--BL);
}
.BM {
  font: var(--BM);
  line-height: 2rem;
}
.BS {
  font: var(--BS);
}
.BSI {
  font: var(--BSI);
}

.LL {
  font: var(--LL);
}
.LM {
  font: var(--LM);
  padding: 0;
  margin: 0.25rem;
}

.C {
  text-align: center;
}

/* Sizing */
.icon {
  height: var(--icon);
}
.smallIcon {
  height: var(--iconSmall);
  width: var(--iconSmall);
}
/* Spacing */
.gutter {
  padding: 2rem;
}

/* Rounding */
.round {
  border-radius: 100px;
}

.leafRaduis {
  border-top-left-radius: var(--BR);
  border-top-right-radius: var(var(--BR));
}

/* Layout */
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.jccenter {
  justify-content: center;
}
.aicenter {
  align-items: center;
}

.FCJA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FJA {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* Reusable Elements */
.leaf_card {
  width: 100%;
  height: 80px;
  background-color: var(--light);
  border: solid 1px var(--n50);
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  /* filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25)); */
  margin-bottom: 1rem;
}
.leaf_card_image {
  width: 80px;
  display: flex;
  justify-content: center;
}

.leaf_icon {
  width: 40px;
  height: 40px;
}
.leaf_card_text {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}
.leaf_card_title{
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: .25rem;
  height: min-content;
}
.leaf_card_caption{
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: .25rem;
  height: 1.5rem;
}
.long_caption{
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.large_leaf_card{
  width: 100%;
  height: 120px;
  background-color: var(--light);
  border: solid 1px var(--n50);
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  /* filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25)); */
  margin-bottom: 1rem;
}

.filterButtons {
  width: 100%;
  background-color: var(--light);
  border-radius: 12px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  z-index: 10;
  padding: 0.5rem 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: height 0.5s ease-out;
  background-color: var(--light);
}
.filterButton {
  border: solid 1px var(--n60);
  /* background-color: var(--n80); */
  height: 60px;
  width: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.filterFill {
  /* background-color: var(--n80); */
}
/* Reusable animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

/* Header Elements */
header {
  height: 64px;
  padding: 0.5rem 0;
}
.header_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 0.5rem;
}
.header_menu_button_container {
  z-index: 100;
}
.header_menu_button {
  width: 36px;
  height: 36px;
  display: flex;
  position: absolute;
  top: 1.75rem;
  left: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  background-color: var(--dark);
  z-index: 99;
}

.header_leavesImage {
  position: relative;
  border: none;
  padding: none;
  margin: none;
  top: 1rem;
}
.leaves_image {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.header_image_box {
  position: relative;
  border: none;
  padding: none;
  margin: none;
}
.header_logo {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hamburger Menu */
.hamburger_menu {
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  height: 95%;
  top: 0;
  left: 0;
  background-color: var(--dark);
  z-index: 15;
}
.menu_listings {
  padding-top: 80px;
  width: 80%;
  justify-content: space-around;
  height: 70%;
}
.menu_text {
  color: var(--light);
}
.menu_listing {
  /* border-bottom: solid var(--n70) 2px; */
  text-align: left;
}
.menu_section {
  border-radius: var(--BR);
  background-color: var(--dark);
  padding: var(--gutter);
  margin-bottom: var(--gutter);
  width: 90%;
}
.menu_hr {
  border-bottom: solid 1px var(--light);
}

/* Main Elements */
main {
  height: 90vh;
  padding: 0 var(--gutter);
  overflow-y: scroll;
  position: relative;
  top: 1rem;
}
.main_label_header {
  display: flex;
  align-items: center;
}
.main_label_caption {
  padding: 0;
  margin: 0;
}
.main_label_icon {
  padding: 0 0.5rem;
  height: 24px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hamburger_menu::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hamburger_menu {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Footer Elements */
footer {
  position: relative;
  top: 1rem;
  height: 80px;
  z-index: 20;
}
.footer_buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  padding: 0;
  background-color: var(--dark);
}
/* .footer_button {
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  padding: 0;
  margin: 0;
  color: var(--light);
  border: none;
} */
.footer_button_text {
  color: var(--light);
}
.footer_homeButton_oval {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  height: 34px;
  width: 80px;
  padding: 0;
  background-color: #B6D085;
  margin-bottom: 4px;
  border: none;
}
.footer_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  height: 34px;
  width: 80px;
  margin-bottom: 4px;
  border: none;
}
.footer_icon_image {
  height: 24px;
}
/* Index */

.index_main_widget {
  margin: var(--gutter) 0;
}
/* Affirmations */

.affirmations_main_content {
  height: 70%;
}
.affirmations_main_content_affirmation {
  animation: fadeIn 1s ease-out 1 forwards;
}
.affirmations_main_content_buttons {
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  top: 65vh;
}
.affirmations_main_content_button {
  justify-content: space-evenly;
  border: solid 1px var(--n60);
  height: 2.5rem;
  padding: 1.75rem;
}
.affirmations_main_content_button_label {
  padding: 0.5rem;
}
.regen_label {
  color: var(--light);
}

.save {
  background-color: var(--light);
  color: var(--dark);
  transition: all 0.5s ease-in-out;
}
.regenerate {
  background-color: var(--p40);
  color: var(--white);
}

.saveLit {
  background-color: var(--p40);
  color: var(--white);
}
.saveUnlit {
  background-color: var(--light);
  color: var(--dark);
}

/* Journal */

.journal_card_date {
  width: 80px;
  display: flex;
  border-right: solid 1px var(--n50);
  flex-direction: column;
  align-items: center;
}
.journal_card_text {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 100%;
  padding: 1rem;
  justify-content: center;
  align-items: flex-start;
}
.journal_box{
  height: 60vh;
  width: 100%;
  background-color: var(--light);
  border: solid 1px var(--n50);
  border-radius: 12px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.journal_box::-webkit-scrollbar {
  display: none;
}


@media screen and (max-width: 430px) {
  body {
    width: 100%;
  }
}

@media screen and (max-height: 650px) {
  .header_menu_vine {
    height: 76vh;
  }
}
@media screen and (max-height: 700px) {
  .affirmations_main_content_buttons {
    top: 55vh;
  }
}
