/* Font Log */
@font-face {
    font-family: 'DMSans';
    src: url('../fonts/dmsans-variablefont_opszwght-webfont.woff2') format('woff2'),
    url('../fonts/dmsans-variablefont_opszwght-webfont.woff') format('woff');
    font-weight: 100 1000;
    font-style: normal;
}
@font-face {
    font-family: 'Lora';
    src: url('../fonts/lora-variablefont_wght-webfont.woff2') format('woff2'),
    url('../fonts/lora-variablefont_wght-webfont.woff') format('woff');
    font-weight: 100 1000;
    font-style: normal;
}
/* ~~~ */
/* Root Variables */
:root{
    /* Testing Variables */
    --testColor: rgb(255, 84, 84);
    --testColor2: rgb(82, 82, 255);
    --testSpacer: .25rem;
    /* Colors */
    --primary: #9ACD32;
    --p30: #364E00;
    --p40: #496800;
    --p50: #5D8300;
    --p60: #719E00;
    --p70: #89BB1E; 
    --p80: #A3D73C;
    --p90: #BEF456;
    --p95: #D6FF89;
    --secondary: #FFD449;
    --s30: #574500;
    --s40: #735C00;
    --s50: #917400;
    --s60: #AF8D00;
    --s70: #CEA719;
    --s80: #ECC238;
    --s90: #FFE088;
    --s95: #FFEFCC;
    --tertiary: #2CABB6;
    --t30:#004F55;
    --t40:#006970;
    --t50:#00848D;
    --t60:#00A0AB;
    --t70:#1FBDC9;
    --t80:#4DD9E5;
    --t90:#82F3FF;
    --t95:#C8FAFF;
    --dark: #2A2E2A;
    --n40:#4E4E4E;
    --n50:#7D7D7D;
    --n60:#A2A2A2;
    --n70:#C7BBAF;
    --n80:#DBCFC1;
    --n90:#F2E6D8;
    --light: #FFF7EE;
    --white: #F5F5F5;
    --invis: rgb(rgba(0, 0, 0, 0));
    
    /* Fonts */
    /* All names for variables are coded based  */
    --DL: 4rem 'Lora', 'Times New Roman', Times, serif; 
    --DM: 3.25rem 'Lora', Arial, Helvetica, sans-serif;
    --DS: 2.75rem 'Lora', Arial, Helvetica, sans-serif;

    --HL: 2.5rem 'Lora', Arial, Helvetica, sans-serif;
    --HM: 2.25rem 'Lora', Arial, Helvetica, sans-serif;
    --HS: 2rem 'Lora', Arial, Helvetica, sans-serif;
    
    --TL: 1.75rem 'Lora', Arial, Helvetica, sans-serif;
    --TM: 1.5rem 'Lora', Arial, Helvetica, sans-serif;
    --TS: 1.25rem 'Lora', Arial, Helvetica, sans-serif;

    --BL: 1.5rem 'DMSans', Arial, Helvetica, sans-serif;
    --BM: 1.25rem 'DMSans', Arial, Helvetica, sans-serif;
    --BS: 1rem 'DMSans', Arial, Helvetica, sans-serif;
    --BSI: italic 1rem 'DMSans', Arial, Helvetica, sans-serif;

    --LL: 1.25rem 'DMSans', Arial, Helvetica, sans-serif;
    --LM: 1rem 'DMSans', Arial, Helvetica, sans-serif;

    /* Shadows */
    --Depth1: 0px 0.54px 1.62px 0.54px rgba(0, 0, 0, 0.15), 0px 0.54px 1.08px 0px rgba(0, 0, 0, 0.30);
    --Depth2: 0px 1.08px 3.24px 1.08px rgba(0, 0, 0, 0.15), 0px 0.54px 1.08px 0px rgba(0, 0, 0, 0.30);
    --Depth3: 0px 0.54px 1.62px 0px rgba(0, 0, 0, 0.30), 0px 2.16px 4.32px 1.62px rgba(0, 0, 0, 0.15);
    --Depth4: 0px 1.08px 1.62px 0px rgba(0, 0, 0, 0.30), 0px 3.24px 5.399px 2.16px rgba(0, 0, 0, 0.15);
    --Depth5: 0px 2.16px 2.16px 0px rgba(0, 0, 0, 0.30), 0px 4.32px 6.479px 3.24px rgba(0, 0, 0, 0.15);

    /* Sizing */
    --icon: 2rem;
    --iconSmall: 1.5rem;
    --iconTouchArea: 3rem;
    /* Spacing */
    --gutter: 2rem;
    /* Rounding */
    --BR: 12px;

    
    /* Header height: 160 px tall, overflow hidden */
    /* Icon size = 12px, touch box is 24? */
    /* Interactable icons: 48x48 */
    /* LOOK AT AUTO LAYOUT TO SEE THE SPACING */
    /* 2 Rem Gutter */
    /* font: italic small-caps bold 12px/30px Georgia, serif; */





}

/* ~~~ */
/* Initial Setup */
html{
    background-color: var(--light);
}
.bgImages{
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    width: 100%;
}
body{
    background-color: var(--invis);
    width: 430px;
    height: 100vh;
    margin: 0 auto;
    border: solid black 1px;
    position: relative;
    top:-1rem;
    display: flex;
    flex-direction: column;
}
div{
    /* border: solid 2px rgba(0, 0, 0, 0.141); */
    min-height: 1rem;
    min-width: 1rem;
    /* padding: var(--testSpacer); */
}
img{
    /* height: 100%; */
    overflow-x: hidden;
    /* border: solid 2px black; */
}
.backgroundBrick{
    z-index: -2;
    overflow: hidden;
    position: absolute;
    bottom: 1rem;
    border: none;
    margin: none;
    width: 100%;
    padding: none;
    margin: none;
    opacity: 50%;
}
a{
    text-decoration: none;
    color: var(--dark);
}
a:visited{
    color: var(--dark)
}

h3{
    padding: none;
    margin: none;
}


/* Shortcut Classes to apply Root Styles */
/* Testing Variables */
.testColor{
    background-color: var(--testColor);
}
.testColor2{
    background-color: var(--testColor2);
}
.testSpacer{
    padding: var(--testSpacer);
}

/* Colors */
.primary{
    background-color: var(--primary);
}
.secondary{
    background-color: var(--secondary);
}
.tertiary{
    background-color: var(--tertiary);
}
.dark{
    background-color: var(--dark);
}
.light{
    background-color: var(--light);
}
.white{
    background-color: var(--white);
}

/* Fonts */
.DL{
    font: var(--DL);
}
.DM{
    font: var(--DM);
}
.DS{
    font: var(--DS);
}

.HL{
    font: var(--HL);
}
.HM{
    font: var(--HM);
}
.HS{
    font: var(--HS);
}

.TL{
    font: var(--TL);
}
.TM{
    font: var(--TM);
}
.TS{
    font: var(--TS);
}

.BL{
    font: var(--BL);
}
.BM{
    font: var(--BM);
}
.BS{
    font: var(--BS);
}
.BSI{
    font: var(--BSI);
}

.LL{
    font: var(--LL);
}
.LM{
    font: var(--LM);
    padding: 0;
    margin: .25rem;
}

/* Sizing */
.icon{
    height: var(--icon);
    width: var(--icon);
}
.smallIcon{
    height: var(--iconSmall);
    width: var(--iconSmall);
}
/* Spacing */
.gutter{
    padding: 2rem;
}

/* Rounding */
.round{
    border-radius: 100px;
}

.leafRaduis{
    border-top-left-radius: var(--BR);
    border-top-right-radius: var(var(--BR));
}



/* Layout */
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.jccenter{
    justify-content: center;
}
.aicenter{
    align-items: center;
}








/* Header Elements */
.header_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 .5rem;
}
.header_menu_button{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--p60);
    z-index: 10;
}
.header_saved_switch{
    width: 44px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--n70);
    border: solid 2px var(--n50);
}
.header_saved_switch_knob{
    background-color: var(--p60);
    border: solid 2px var(--n50);
    width: 24px;
    margin: 2px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_leavesImage{
    position: relative;
    border: none;
    padding: none;
    margin: none;
    top: 1rem;
}
.leaves_image{
    width: 100%;
    position: absolute;
    z-index: -1;
}
.header_image_box{
    position: relative;
    border: none;
    padding: none;
    margin: none;
}



/* Hamburger Menu */
.hamburger_menu{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--p40);
}
.menu_listings{
    padding-top: 80px;
    justify-content: space-around;
    height: 50%;
}
.menu_text{
    color: var(--n70);
}
.menu_listing_wide{
    width: 100%;
    border-bottom: solid var(--n70) 2px;
    text-align: left;
    
}
.menu_listing{
    width: min-content;
    border-bottom: solid var(--n70) 2px;
    text-align: left;
}
.menu_section{
    border-radius: var(--BR);
    background-color: var(--p40);
    padding: var(--gutter);
    margin-bottom: var(--gutter);
    width: 90%;
}

/* Main Elements */
main{
    height: 90vh;
    overflow-y: scroll;
}
/* Footer Elements */
footer{
    position: relative;
    top: 1rem;
    height: 80px;
}
.footer_buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding: 0;
    background-color: var(--dark);
}
.footer_button{
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    padding: 0;
    margin: 0;
    color: #C6C8B9;
    border: none;
}
.footer_homeButton_oval{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    height: 34px;
    width: 64px;
    padding: 0;
    background-color: var(--s40);
    margin-bottom: 4px;
    border: none;
}
.footer_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    height: 34px;
    width: 64px;
    padding: 0;
    margin-bottom: 4px;
    border: none;
}

.hidden{
    display: none;
}

@media screen and (max-width: 430px){
    body{
        width: 100%;
    }
    
}
